html, body, main {
    height: 100%;
  }
  
.nav-item {
  height: 40px; 
}

#credentials-form {
  margin-left: 40%;
  margin-right: 40%;
  width: 20%;
}

textarea {
  resize: none; 
  height: 220px
}

#diet-title {
  color:#b75e43
}