{% extends 'base.html' %}




{% block content %}
<form action='/users/dietSelection' method="POST">
    <div class="d-flex gap-5 justify-content-center">
        <div class="list-group mx-0">
                  {% for d in diets %}

                <label class="list-group-item d-flex gap-2">
                    <input class="form-check-input flex-shrink-0" type="checkbox" value="" unchecked>
                    <span>
                    {{ d.name }}
                        <small class="d-block text-muted">{{ d.description }}</small>
                    </span>
                </label>
      
            {% endfor %}

        <button class="btn btn-primary btn-lg btn-block" >Analyze</button>
        </div>
</form>

{% endblock %}



