{% extends 'base.html' %}


{% block content %}
<form action='/users/dietSelection' method="POST">
    <select class="form-select" size="10" multiple aria-label="Diet">
        <option class="fs-4 fw-light" id="diet-title" selected>SELECT DIETS</option>
        <br>
            {% for d in diets %}
            <option class="text-wrap">
                {{ d.name }} : {{d.description}}
            </option>
               
            {% endfor %}

        </select>
        <button class="btn btn-primary btn-lg btn-block" >Analyze</button>
</form>


   


{% endblock %}