<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nutree</title>
</head>
<body>

    
<h2>Text input fields</h2>

<form>
  <label for="email">email:</label><br>
  <input type="text" id="email" name="email"><br>
  <label for="username">username:</label><br>
  <input type="text" id="password" name="password"><br>
  <input type="text" id="confirm_password" name="confirm_password"><br>

</form>



    
    
</body>
</html>