{% extends 'base.html' %}

{% block body_class %}onboarding{% endblock %}

{% block login %}

<div class="col-xs-1 text-center">
    <div id=>
    {% if request.endpoint != "login" %}
      <h2 class="join-message">Create Your NuTree Account.</h2>
    {% else %}
      <h2 class="join-message">Login to Your NuTree Account</h2>
    {% endif %}
    <form method="POST" id="user_form">
      {{ form.hidden_tag() }}

      {% for field in form if field.widget.input_type != 'hidden' %}
          {% for error in field.errors %}
           <span class="text-danger">{{ error }}</span>
          {% endfor %}
        {{ field(placeholder=field.label.text, class="form-control") }}
      {% endfor %}

      {% if request.endpoint != "login" %}
        <button class="btn btn-primary btn-lg btn-block">Sign me up!</button>
      {% else %}
      <button class="btn btn-primary btn-lg btn-block">Log In!</button>
      {% endif %}

    </form>
  </div>
</div>

{% endblock %}