{% extends 'base.html' %}


{% block content %}

<div id=diets-div>
    <h2>User Selected Diets</h2>
    <ul class="list-group" id="chosen_diets">
        {% for dts in chosen_diets %}
        <li class="list-group-item">
            {{ dts.name }}
        </li>
        {% endfor %}
    </ul>
    <!-- <H3>Available User Diets</H3>
    <ul class="list-group" id="available_diets">
        {% for adts in available_diets %}
        <li class="list-group-item">
            <b>{{ adts.name }}</b> : {{adts.description}}
        </li>
        {% endfor %}
    </ul> -->

</div>

<div>
    <form action='/users/recipe' method="POST">
        <h4>Enter Recipe</h4>
        {% for field in form %}
            {{ field(placeholder=field.label.text, class="form-control") }}
        {% endfor %}
        <button class="btn btn-primary btn-lg btn-block">Analyze</button>

    </form>

</div>


{% endblock %}





